@model User

@{
    ViewData["Title"] = "Профіль користувача";
}

<h1>Профіль</h1>
<p>Електронна адреса: @Model.Email</p>
<p>Роль: @Model.Role</p>



<a class="btn btn-warning" asp-action="EditProfile" asp-route-id="@Model.Id" aria-label="Редагувати профіль">Редагувати профіль</a>
<a class="btn btn-danger" asp-action="DeleteProfile" asp-route-id="@Model.Id" aria-label="Видалити акаунт">Видалити акаунт</a>

<div class="mt-4">
    <h3>Ваші замовлення</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Номер замовлення</th>
                <th>Дата</th>
                <th>Сума</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            @* Логіка для відображення замовлень користувача *@
        </tbody>
    </table>
</div>
