<form method="post" asp-action="RegisterOrLogin">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
        <div class="invalid-feedback">
            Будь ласка, введіть правильний email.
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your password" required minlength="8">
        <div class="invalid-feedback">
            Пароль має містити щонайменше 8 символів.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="User">
            <input type="radio" class="form-check-input" id="User" name="role" value="User" required>
            User
        </label>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="Admin">
            <input type="radio" class="form-check-input" id="Admin" name="role" value="Admin" required>
            Admin
        </label>
    </div>

    <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-danger btn-block">Sign Up / Login</button>
    </div>
</form>
