@model Coffee_PryStore.Models.Table

@{
    ViewData["Title"] = "Видалити продукт";
}
@{
    var currentLanguage = ViewData["CurrentLanguage"]?.ToString();
}
<html lang="@currentLanguage">
<h2>Видалити продукт</h2>

<div>
    <h4>@Model.CofName</h4>
    <p>Ви впевнені, що хочете видалити цей продукт?</p>
</div>

<form asp-action="DeleteProduct" method="post">
    <input type="hidden" asp-for="CofId" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a href="@Url.Action("ProductDetails", "Admin")" class="btn btn-secondary">Скасувати</a>
</form>



