@model Coffee_PryStore.Models.Table

@{
    ViewData["Title"] = "Редагувати продукт";
}

<h2>Редагувати продукт</h2>

<form asp-action="EditProduct" enctype="multipart/form-data">
    <input type="hidden" asp-for="CofId" />
    <div class="mb-3">
        <label for="CofName" class="form-label">Назва продукту</label>
        <input type="text" class="form-control" asp-for="CofName" required />
    </div>
    <div class="mb-3">
        <label for="CofCateg" class="form-label">Категорія</label>
        <input type="text" class="form-control" asp-for="CofCateg" required />
    </div>
    <div class="mb-3">
        <label for="CofPrice" class="form-label">Ціна</label>
        <input type="number" class="form-control" asp-for="CofPrice" required />
    </div>
    <div class="mb-3">
        <label for="CofAmount" class="form-label">Кількість</label>
        <input type="number" class="form-control" asp-for="CofAmount" required />
    </div>
    <div class="mb-3">
        <label for="CofDuration" class="form-label">Термін зберігання</label>
        <input type="date" class="form-control" asp-for="CofDuration" required />
    </div>
    <div class="mb-3">
        <label for="imageFile" class="form-label">Зображення продукту</label>
        <input type="file" class="form-control" name="imageFile" />
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>

<td>
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">На головну сторінку</a>
    <a asp-action="ProductDetails" asp-controller="Admin" class="btn btn-secondary mt-3">Показати всі товари</a>
    <a href="@Url.Action("AdminDashboard", "Admin")" class="btn btn-secondary mt-3">На сторінку адміністратора</a>
</td>

