@model Coffee_PryStore.Models.User

<h1>Edit User</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" required />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" required />
    </div>
    <div>
        <label asp-for="Role"></label>
        <input asp-for="Role" required />
    </div>
    <button type="submit">Save Changes</button>
</form>
