@model User

@{
    ViewData["Title"] = "Edit Profile";
}

<h1>Редагування профілю</h1>

<form method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Електронна адреса</label>
        <input type="email" class="form-control" id="email" name="email" value="@Model.Email" readonly />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Новий пароль</label>
        <input type="password" class="form-control" id="password" name="password" value="@Model.Password" required />
    </div>
    <button type="submit" class="btn btn-success">Зберегти</button>
</form>
